* {
    font-family: 'poppins';
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navbar-link {
    display: flex;
    column-gap: 20px;


}

.navbar-link-item a {
    text-decoration: none;
    color: black;
}

.navbar-link-item a:hover {
    text-decoration: underline;
}

.nav-icon {
    display: none;
}


/* Media query */



.side-navbar {
    background-color: black;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -60%;
    color: white;
    padding: 20px;
    transition: 2s;
    display: none;

}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-link-item a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.header-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.header-button:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.receipe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.receipe-container {
    margin: 10px;
}

.receipe img {
    width: 400px;
    height: 200px;
}

.receipe .receipe-container a {
    padding: 2% 5%;
    margin-top: 10px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    bottom: 20%;
    left: 24%;
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.receipe .receipe-container a:hover {
    background-color: black;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.recipe-search-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-search {
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.recipe-search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.recipe-search input:focus {
    outline: none;
}

.footer {
    text-align: center;
    margin: 20px;
}

.footer button {
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 4px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}

/* new recipe */
#book-container {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 23%;
    height: 320px;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}

#book-container button {
    background-color: #CD5C5C;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin-top: 5px;
}

#add-btn {
    background-color: black;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    align-items: center;
}

#popupOverlay {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: none;
}

#popupContent input {
    display: block;
    padding: 10px;
    width: 350px;
    margin: 10px;
    border: none;
    background-color: #CD5C5C;
    color: black;
}

#popupContent input::placeholder {
    color: black;
}

#popupContent input:focus {
    outline: none;
}

#popupContent {
    background-color: #CD5C5C;
    border-radius: 10px;
    color: black;
    padding: 10px;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 40%;
    display: none;
}

#popButton {
    margin-top: 10px;
    margin-left: 10px;

}

@media screen and (max-width:600px) {
    .nav-icon {
        display: block;
    }

    .navbar-link-item {
        display: none;
    }

    .header-image {
        display: none;
    }
}