* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: whitesmoke;
    height: 100px;
    color: #CD5C5C;
}

.navbar h1 {
    padding: 30px;
    text-align: center;
    transition: 3s;

}

body {
    background-color: #ffecd2;
    background: linear-gradient(to right, #fcb69f, #ffecd2);

}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    background: whitesmoke;
    width: 450px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.1);
}

form {
    margin: 0;
}

.form-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #757575;
}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 30px;
    font-size: 1rem;
    padding-bottom: 10px;
    transition: border-color 0.3s;
}

input:focus {
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid hsl(327, 90%, 28%);
}

input::placeholder {
    color: transparent;
}

label {
    color: #757575;
    position: absolute;
    left: 30px;
    top: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
    font-size: 1rem;
}

input:focus~label,
input:not(:placeholder-shown)~label {
    top: -20px;
    color: hsl(327, 90%, 28%);
    font-size: 0.8rem;
}

.recover {
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.recover a {
    text-decoration: none;
    color: rgb(125, 125, 235);
}

.recover a:hover {
    color: blue;
    text-decoration: underline;
}

button {
    font-size: 1.1rem;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: #CD5C5C;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #07001f;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    font-weight: bold;
}

#signUpButton,
#signInButton {
    color: #CD5C5C;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#signUpButton:hover,
#signInButton:hover {
    text-decoration: underline;
    color: blue;
}

.messageDiv {
    background-color: hsl(327, 90%, 28%);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}